# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data and generated artifacts
stl10_binary/
stl10_binary.tar.gz
data/
*.weights.h5
*.h5
*.keras
*.ckpt
checkpoint

# OS/editor
.DS_Store
.vscode/
.idea/
